{% block addl_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DEMO-user-profile-style.css') }}">
{{ bootstrap.load_css() }}
{% endblock addl_head %}
{%block content%}
<table width="100%" class="topbar">
    <tr>
    <td align="left" valign="top">
      <form method="get" action="/admin/user/search">
       <b>Quick Search:</b>
       <input name="search" value="" />
      </form>
    </td>
    </table>
    
    
    <table>
    <tr>
      <td valign="middle" class="editbar">
    <a href="">&nbsp;E&nbsp;<br />&nbsp;D&nbsp;<br />&nbsp;I&nbsp;<br />&nbsp;T&nbsp;</a></td>
    
      <td valign="top">
    
     <span class="label">E-mail</span>: {{ user.email }} [<a href="/user/change_email">Change</a>]<br />
     <span class="label">Name</span>: {{ user.last_name ~ ', ' ~ user.first_name }}<br />
     <span class="label">Username</span>: [% user.username %]<br />
     <span class="label">Email Verified?</span>: {% if user.flag_email_verified %}Y{% else %}N{% endif %}
     [<a href="[% c.uri_for('flip', 'email_verified', user_id) %]">flip</a>]
     <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
    
     (<span class="label">Bouncing?</span>: {% if user.email_bouncing %}Y{% else %}N{% endif %} [<a href="[% c.uri_for('flip', 'email_bouncing', user_id) %]">flip</a>]) <br />
    
     <span class="badColor"><span class="label">Edit Users?</span>: {% if user.flag_edit_users %}Y{% else %}N{% endif %}</span> [<a href="[% c.uri_for('flip', 'edit_users', user_id) %]">flip</a>]
     <span class="label">Edit System?</span>: {% if user.flag_edit_system %}Y{% else %}N{% endif %} [<a href="[% c.uri_for('flip', 'edit_system', user_id) %]">flip</a>] <br />
    
     <span class="label">Suspended?</span>: {% if user.flag_banned %}Y{% else %}N{% endif %} [<a href="[% c.uri_for('suspend', user_id) %]">suspend</a>]<br />
    
     [<a href="[% c.uri_for('change_password', user_id) %]">Change Password</a>]
     [<a href="mailto:[% user.email %]">Send Email</a>]
     [<a href="[% c.uri_for('become_user', user_id) %]">Become this user</a>]
    </td><td>&nbsp;</td>
    
    <td valign="top">
     <span class="label">User Id</span>: {{ user.user_id }}  <br />
     [% USE date %]
     <span class="label">Last login</span>: {{ sessions[0].start_time | unix_to_datetime}}<br />
     <span class="label">Penultimate login</span>: {{ sessions[1].start_time | unix_to_datetime }}<br />
     <span class="label"># Sessions</span>: <a href="[% c.uri_for('view_sessions', user_id) %]">{{ sessions | length }}</a><br />
     <span class="label">Joined on</span>: [% date.format(user.joined_date) %]<br />
     <span class="label">Joined from</span>: {{ user.joined_ip_num }}<br />
    </td>
    </tr>
    <tr><td></td><td>***********</td></tr>
    
    <!--local_insert() start-->
    <tr>
      <td valign="top">&nbsp;</td>
      <td valign="top">
        <span class="label">Veto Status</span>: {{ demographics.veto_status }}  [<a href="[% c.uri_for('change_veto_status', user_id) %]">Change status</a>]<br />
        <span class="label">Proxy?</span>: {% if demographics.flag_proxy %}Y{% else %}N{% endif %}  [<a href="[% c.uri_for('flip', 'proxy', user_id) %]">flip</a>]
        <span class="label">Flagged?</span>: {% if demographics.flag_suspect %}Y{% else %}N{% endif %}  [<a href="[% c.uri_for('flip', 'suspect', user_id) %]">flip</a>]<br />
        <span class="label">Allow TeX Produced?</span>: {% if user.flag_allow_tex_produced %}Y{% else %}N{% endif %}  [<a href="/admin/user/[% user.id %]/allow_tex_produced">flip</a>]<br />
    
        <span class="badColor"><span class="label">Test?</span>:
             {% if demographics.flag_group_test %}Y{% else %}N{% endif %}</span>
             [<a href="[% c.uri_for('flip', 'test', user_id) %]">flip</a>]<br />
        <span class="label">Default Category</span>: {{ demographics.subject_class }}<br />
        <!-- TODO: fix hardcoding Groups -->
        <span class="label">Groups</span>: cs,math,physics,q-bio,test<br /> 
        <!-- TODO: decide where to convert to rank name -->
        <span class="label">Career Status</span>: {{ demographics.type }}&nbsp;&nbsp;
      </td>
      <td>&nbsp;</td>
      <td valign="top">
        <span class="label">Affiliation</span>: {{ demographics.affiliation }}<br />
        <span class="label">Country</span>: {{ demographics.country }}<br />
        <span class="label">URL</span>: <i>{{ demographics.url }}</i><br />
        Viewed Email addresses for <a href="">[% num_emails_requested %]</a> papers.<br /><br>
        <form action="/admin/user/[% user.id %]/update_mod_public" method="get">
           <input type="hidden" id="flip" name="flip" value="" />
        <!-- [% IF moderates %]
          <b>moderates:</b>
            [% WHILE (m = moderates.next) %]
              [%= m.archive %][% IF m.subject_class %].[%m.subject_class%] [% END %] (public? <input name="archive" value="[%= m.archive %][% IF m.subject_class %].[% m.subject_class%][% END %]" type="checkbox" [% IF m.is_public %] checked [% END %] onclick="document.getElementById('flip').value = '[%= m.archive %][% IF m.subject_class %].[% m.subject_class%][% END %]'; this.form.submit();" />)
            [% END %]
        [% END %] -->
        </form>
       <br>
       <form action="/auth/admin/user-category-op.php" method="get">
           <select name="action">
             <option value="can_submit">Can submit to?</option>
             <option value="can_endorse">Can endorse for?</option>
             <option value="make_moderator">Flip Moderator of</option>
             <option value="endorse_for">Endorse for</option>
           </select>
           <input name="category" size="15" />
           <input type="hidden" name="user_id" value=[%= user.user_id %] />
           <input type="hidden" name="tapir_dest" value="/admin/user/[%= user.user_id %]" />
         </form>
      </td>
    </tr>
    </table>
    
    <div class="endorsement_info">
    <b><a href="[% c.uri_for('endorsements', user_id) %]">Endorsed For</a>:</b>
    <!-- [% WHILE (endorsed = user.endorsed_for.next) %]
    <a href="[% c.uri_for('endorsement_detail', endorsed.id) %]">[% endorsed.archive _ " " _ endorsed.subject_class %]</a>
    (auto)
    [% END %] -->
    
    <b><a href="[% c.uri_for('endorsements', user_id) %]">Has Endorsed</a>:</b>
    <!-- [% WHILE (endorsed = user.has_endorsed.next) %]
    <a href="[% c.uri_for('endorsement_detail', endorsed.id) %]">[% endorsed.archive _ " " _ endorsed.subject_class %]</a>
    (auto)
    [% END %] -->
    </div>
    
    <table cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="6"><b>Owns [% user.documents.count %] papers:</b> (A=author/N=not author [toggle], S=submitter, p=pending, R=revoked)</td>
    </tr>
    
    [% WHILE (document = user.documents.next) %]
    <tr>
      <td align="right"><span style="white-space: nowrap"><a href="[% c.uri_for('doc_detail', document.document_id) %]">[% document.paper_id %]</a>:&nbsp;</span></td>
      <td>A&nbsp;[<a href="">flip</a>]&nbsp;</td>
      <td>S&nbsp;</td><td>p&nbsp;</td><td>&nbsp;&nbsp;</td>
      <td><a href="abs/[% document.paper_id %]">[% document.title %]</a></td>
    </tr>
    [% END %]
    
    <!--local_insert() end-->
    
    [% WHILE (entry = user.admin_actions.next) %]
    <tr>
    
    
    </tr>
    
    [% END %]
    
    </table>

    <div>
      <textarea cols="50" placeholder="Write a comment here..."></textarea>
      <button>Add comment</button>
    </div>

    <div class="activity-log">
      {% for activity in logs%}
        {% if loop.index is odd %}
          <div style="background-color: lightgray;">
        {% else %}
          <div>
        {% endif %}
      <strong>{{activity.TapirAdminAudit.log_date | unix_to_datetime}}: </strong>
        {% if activity.TapirAdminAudit.action == 'add-paper-owner' %}
          <a href="{{url_for('user.display', user_id=activity.TapirAdminAudit.tapir_users.user_id)}}">{{activity.TapirAdminAudit.tapir_users.tapir_nicknames.nickname}}</a> made <a href="{{url_for('user.display', user_id=activity.TapirAdminAudit.tapir_users_.user_id)}}">{{activity.TapirAdminAudit.tapir_users_.tapir_nicknames.nickname}}</a> an owner of paper <a href="">{{activity.Documents.document_id}}</a>
        
        {% elif activity.TapirAdminAudit.action == 'add-paper-owner-2' %}
          <a href="">{{activity.TapirAdminAudit.tapir_users.tapir_nicknames.nickname}}</a> made <a href="">{{activity.TapirAdminAudit.tapir_users_.tapir_nicknames.nickname}}</a> an owner of paper <a href="">{{activity.Documents.paper_id}}</a> through the process-ownership screen
        
        {% elif activity.TapirAdminAudit.action == 'become-user' %}
          <a href="">{{activity.TapirAdminAudit.tapir_users.tapir_nicknames.nickname}}</a> became <a href="">{{activity.TapirAdminAudit.tapir_users_.tapir_nicknames.nickname}}</a> for session <a href="">{{activity.TapirSessions.session_id}}</a>

        {% elif activity.TapirAdminAudit.action == 'make-moderator' %}
          <a href="">{{activity.TapirAdminAudit.tapir_users.tapir_nicknames.nickname}}</a> made <a href="">{{activity.TapirAdminAudit.tapir_users_.tapir_nicknames.nickname}}</a> a moderator of {{activity.TapirAdminAudit.data}}
          
        {% elif activity.TapirAdminAudit.action == 'unmake-moderator' %}
          <a href="">{{activity.TapirAdminAudit.tapir_users.tapir_nicknames.nickname}}</a> revoked <a href="">{{activity.TapirAdminAudit.tapir_users_.tapir_nicknames.nickname}}</a> being a moderator of {{activity.TapirAdminAudit.data}}
        
        {% elif activity.TapirAdminAudit.action == 'change-email' %}
          <a href="">{{activity.TapirAdminAudit.tapir_users.tapir_nicknames.nickname}}</a> changed the email address for <a href="">{{activity.TapirAdminAudit.tapir_users_.tapir_nicknames.nickname}}</a> from {{activity.TapirAdminAudit.data}}
          
        {% else %}
          <a href="">{{activity.TapirAdminAudit.tapir_users.tapir_nicknames.nickname}}</a> performed operation {{activity.TapirAdminAudit.action}} on <a href="">{{activity.TapirAdminAudit.tapir_users_.tapir_nicknames.nickname}}</a>

        {% endif %}
        {% if activity.TapirAdminAudit.comment %}
          <div class="log-comment">{{activity.TapirAdminAudit.comment}}</div>
        {% endif %}
      </div>
      {%endfor%}

    </div>
{%endblock content%}

