{%- extends "base.html" -%}
{%- block content -%}
<h1>Moderators by nickname</h1>
<div>See also <a href="{{url_for('user.moderators_by_category')}}">moderators by category</a>. There are {{count}} moderators (excluding test categories)</div>

<table class="table">
    <tr>
      <th>Username</th><th>Name</th><th>E-mail</th><th>Categories</th>
    </tr>
    {%for mod in mods%}
    <tr>
      <td><a href="{{url_for('user.display', user_id=mod.user_id)}}">{{mod.TapirUsers.tapir_nicknames.nickname}}</a></td>
      <td>
          {{mod.TapirUsers.first_name}} {{mod.TapirUsers.last_name}}</a>
      </td>
      <td>{{mod.TapirUsers.email}}</td>
      <td>{{mod.archive_subject_list|replace(',', ',&nbsp;')|safe}}</td>
    </tr>
    {%endfor%}
  </table>
  

{%- endblock content -%}