{%- extends "base.html" -%}
{%- from "macros.html" import render_pagination with context -%}

{%- block content -%}
<h1>{{title}}</h1>


<table class="table">
  <tr>
    <th>Email</th><th>Full name</th><th>Name</th><th>Joined on</th><th>Email Pattern</th>
  </tr>
  {%for user in users%}
  <tr>
    <td><a href=''>
        {{user.email}}</a>
    </td>
    <td>{{user.last_name}}, {{user.first_name}}</td>
    <td>{{user.joined_date | unix_to_datetime}}</td>
    <td>{{user.black_pattern}}</td>
  </tr>
  {%endfor%}
</table>

{%- endblock content -%}
