{%- extends "base.html" -%}
{%- block content -%}
<div><strong>Create new email template:</strong></div>
<div>
    <form action="/templates/submit_new_template">
        <div>Short Name:</div>
        <textarea rows="1"></textarea>
        <div>Long Name:</div>
        <textarea rows="1" cols="25"></textarea>
        <div>Data:</div>
        <textarea rows="15" cols="60"></textarea>
        <div>
            <input type="submit" value="Clear">
            <input type="submit" value="Create">
        </div>
    </form>
</div>

{%- endblock content -%}
