<div class="navbar">
    <div class="search-bar-left">
        <label>User/Id Search: </label>
        <input type="text">
    </div>
    <div class="search-bar-center">
        <form action="{{ url_for('user.search') }}" method="GET">

            <label><strong>New Search:</strong></label>
            <input type="text" name="search">
        </form>
    </div>
    <div class="navbar-links">
        <a href="#">[arXiv]</a>
        <a href="#">[Admin Home]</a>
        <a href="#">[Metadata Queue]</a>
        <a href="#">[Contacts]</a>
        <a href="#">[Logout]</a>
    </div>
</div>
