{%- extends "tapir-base.html" -%}
{% block content %}
<h2 class="title">
    NEW arXiv.org user administration 
</h2>
<div class="wrapper">
    <div class="landing-container">
        <div class="list-container">
            <div class="list-item"><a href="">Submissions</a></div>
            <br>
            <div class="list-item">Endorsement requests:</div>
            <div class="list-item indent">Today: </div>
            <div class="list-item indent">Last week: </div>
            <div class="list-item indent">Open: </div>
            <br>
            <div class="list-item">Endorsements: </div>
            <div class="list-item indent">Negative: </div>
            <div class="list-item indent">Today: </div>
            <div class="list-item indent">Last week: </div>
            <br>
            <div class="list-item ">Ownership requests: </div>
            <div class="list-item indent">Pending: </div>
            <div class="list-item indent">Last week: </div>
            <div class="list-item indent-twice">Accepted: </div>
            <div class="list-item indent-twice">Rejected: </div>
        </div>
        <div class="list-container">
            <div class="list-item"><strong>Functions:</strong></div>
            <br>
            <div class="list-item"><a href="">[Web statistics]</a></div>
        </div>
        <div class="list-container">
            <div class="list-item"><strong>Find Users:</strong></div>
            <div>Quick Search</div>
            <input type="text">
            <div class="list-item"><a href="">[Administrators]</a></div>
            <div class="list-item indent"><a href="">[with Edit System]</a></div>
            <br>
            <div class="list-item"><a href="">[Moderators]</a></div>
            <div class="list-item indent"><a href="">[...by category]</a></div>
            <br>
            <div class="list-item"><a href="">[Suspects]</a></div>


        </div>
    </div>
</div>
{% endblock content %}
