{%- extends "tapir-base.html" -%}
{% block content %}
<h2 class="title">
    NEW arXiv.org user administration 
</h2>
<div class="wrapper">
    <div class="landing-container">
        <div class="list-container">
            <div class="list-item"><a href="">Submissions</a></div>
            <br>
            <div class="list-item">Endorsement requests:</div>
            <div class="list-item indent">Today: </div>
            <div class="list-item indent">Last week: </div>
            <div class="list-item indent">Open: </div>
            <div class="list-item">Endorsements: </div>
            <div class="list-item indent">Negative: </div>
            <div class="list-item indent">Today: </div>
            <div class="list-item indent">Last week: </div>
            <div class="list-item ">Ownership requests: </div>
            <div class="list-item indent">Pending: </div>
            <div class="list-item indent">Last week: </div>
            <div class="list-item indent-twice">Accepted: </div>
            <div class="list-item indent-twice">Rejected: </div>
        </div>
        <div class="list-container">
            <div class="list-item"><a href="">[Web statistics]</a></div>
        </div>
        <div class="list-container">
            <div class="list-item"><strong>Find Users:</strong></div>
            <div class="list-item">Item 2: Short</div>
            <div class="list-item">Item 3: A very, very long item with lots of text</div>
            <div class="list-item">Item 4: Medium length</div>
        </div>
    </div>
</div>
{% endblock content %}
