{% macro render_paper(paper, original) %}
<div class='card'>
  <div>
    <input type='checkbox' name='approve_{{paper.document_id}}' value=1 {{'checked=checked' if original}} />
    <a href='{{url_for("paper.detail", paper_id=paper.paper_id)}}'>{{paper.paper_id}}</a> [<a href='https://arxiv.org/abs/{{paper_id}}'>abs</a>]
      {% if paper.already_ownes %}<span class='text-warning'>User already ownes this paper!</span>{% endif %}
  </div>

  <div>{{paper.title}}</div>
  <div>{{paper.authors}}</div>
  <div>{{paper.submitter_email}}</div>
</div>
{% endmacro %}

{%- extends "base.html" -%}
{%block content%}
<h1>
  {{nickname}} wants to claim ownership of
  {%- for paper in papers %}
  {{ paper.paper_id -}}
  {% if not loop.last %} and {% endif %}
  {%- endfor -%}
</h1>

{% if success %}
<div class="alert alert-success" role="alert">
  Ownership request {{success}}. Continue to TODO
</div>
{% endif %}

<div class='row user'>
  <div class='column'>
    <div>Name:{{user.first_name}} {{user.last_name}}</div>
    <div>Email: {{user.email}}</div>
    <div>Nickname: {{nickname}}</div>
  </div>
  <div class='column'>
    <div>Policy Class: {{user.tapir_policy_classes.name}}</div>
    <div>Joined On: {{user.joined_date}}</div>
  </div>
</div>

<div class='row ownership_reqeust'>
  <div class='column'>
    <div>Request Status: {{ownership.workflow_status}}</div>
    <div>Request Date: {{audit.date}}</div>
  </div>
  <div class='column'>
    <div>Remote Host: {{audit.remote_host}}</div>
    <div>Remote Addr: {{audit.remote_addr}}</div>
    <div>cookie: {{audit.tracking_cookie}} </div>
  </div>
</div>

<form action='{{url_for(request.endpoint, ownership_id=ownership.request_id)}}' method='post' enctype="multipart/form-data">
  <input type=hidden name='reqeust_id' value='{{ownership.request_id}}'/>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="alert {{'alert-info' if ownership.workflow_status == 'accepted' else 'alert-warning'}}" role="alert">Request is currently {{ownership.workflow_status}}
  {% if ownership.workflow_status == 'accepted' -%}
  <input type='submit' value='Revisit request' name='revisit'/>
  {%- endif -%}
</div>

  {%- for paper in papers -%}
  {{ render_paper(paper, True) }}
  {%- endfor -%}

  <div>Documents below this line have a matching submission e-mail</div>

  {%- for paper in other_papers -%}
  {{ render_paper(paper, False) }}
  {%- endfor -%}

  <select name='is_author'>
    <option value="1">Author</option>
    <option value="2">Not Author</option>
  </select>
  <input type="submit" value="Make Owner" name="make_owner">
  <input type="submit" value="Reject" name="reject">
  <--- These do not work yet
</form>
{%endblock content%}
