{%- extends "base.html" -%}
{%- from "macros.html" import render_pagination with context -%}


{% block addl_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css')}}" />
{% endblock addl_head %}


{% block content %}
  <h1>{{title}}</h1>
  <div>Found {{count}} ownership requests. Page {{pagination.page}} of {{pagination.pages}}.</div>
<table>
  <tr>
    <th>request ID</th><th>user_id</th><th>status</th><th>endor. req.</th>
  </tr>
{%for oreq in ownership_requests%}
  <tr>
    <td><a href='{{url_for("ownership.display", ownership_id=oreq.request_id)}}'>{{oreq.request_id}}</a></td>
    <td><a href='{{url_for("user.display", id=oreq.user_id)}}'>
        {{oreq.user.first_name}} {{oreq.user.last_name}}</a>
    </td>
    <td>{{oreq.workflow_status}}</td>
    <td>{% if oreq.endorsement_request_id %}
      <a href='{{url_for("endorsement.display")}}'>{{oreq.endorsement_request_id}}</a>
        {%else%}None{%endif%}
    </td>
  </tr>
{%endfor%}
</table>

{{ render_pagination(pagination, request.endpoint) }}
{% endblock content %}
